
.notes{
    display: block;
    flex-direction: column;
    gap: 2vw;
    height: 19vw;
    max-height: 20vw;
    width: 46.5vw;
    overflow:auto;
}
.notes::-webkit-scrollbar {
    width: 8px;
  }
  
  .notes::-webkit-scrollbar-thumb {
    background-color:#802BB1;
    border-radius: 10px; 
  }
